@import 'tailwindcss/base' layer(tailwindBase);

@import 'base/reset.css' layer(reset);
@import 'base/fonts.css' layer(fonts);

@import 'tailwindcss/components' layer(tailwindComponents);

@import 'base/variables.css' layer(variables);
@import 'base/global-styles.css' layer(global);

@import-glob 'compositions/*.css' layer(compositions);
@import-glob 'blocks/*.css' layer(blocks);
@import-glob 'utilities/*.css' layer(utilities);

/* debugging */
/* @import-glob 'tests/*.css' layer(test); */

@import 'tailwindcss/utilities' layer(tailwindUtilities);

@media (max-width: 600px) {
  input[type="email"] {
    width: 100% !important;
    box-sizing: border-box;
    display: block;
  }
  button {
    width: 80% !important;
    margin: 1rem auto 0 auto;
    display: block;
  }
}
