---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }} {{ page.url }}
{%- endfor %}
{%- endif -%}
{%- endfor -%}


  /p/descoperirea-marii-pasiuni /descoperirea-marii-pasiuni 301
  /un-mail-pe-zi /tags/psihomarketing 301
  /filosofii-pragmatice: /tags/simplitate/
  /prostu-lui-facebook: /cum-sa-evadezi-din-lumea-digitala/
  /am-renuntat-netflix: /cum-sa-evadezi-din-lumea-digitala/
  /nimicul-care-chiar-conteaza-al-naibii-de-mult: /standarde-marunte/
  /abonare-email-marketing-copywriting: /tags/psihomarketing/
  /forta-mintii: /about/
  /sfarma-piatra: /hard-reset/
  /ghiduri: https://shop.beldie.ro
  /termene-si-conditii: https://beldie.ro/termeni-si-conditii/
  /bonus-abonare: https://beldie.ro/content/files/2024/04/3-actiuni-ciudate-care-te-salveaza-de-prostia-digitala.pdf
  /smz: https://beldie.ro/cum-omori-social-media-zombie-smz/
  /hard-reset/%C2%A0: https://beldie.ro/hard-reset/
  /hard-reset/%E2%80%8B: https://beldie.ro/hard-reset/
  /lista: https://beldie.ro/lista-cu-mancare-buna/
  /hard-reset%C2%A0: https://beldie.ro/hard-reset
  

  /old-post /new-post 301
/blog/old-url /blog/new-url 301
/about-us /about 301