---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }} {{ page.url }}
{%- endfor %}
{%- endif -%}
{%- endfor -%}


  /p/descoperirea-marii-pasiuni /descoperirea-marii-pasiuni 301
  /un-mail-pe-zi /tags/psihomarketing 301
  /filosofii-pragmatice /tags/simplitate 301
  /prostu-lui-facebook /cum-sa-evadezi-din-lumea-digitala 301
  /am-renuntat-netflix /cum-sa-evadezi-din-lumea-digitala 301
  /nimicul-care-chiar-conteaza-al-naibii-de-mult /standarde-marunte 301
  /abonare-email-marketing-copywriting /tags/psihomarketing 301
  /forta-mintii /about 301
  /sfarma-piatra /sfarma-piatra-transformarea 301
  /ghiduri https://shop.beldie.ro 301
  /termene-si-conditii /termeni-si-conditii 301
  /bonus-abonare: https://beldie.ro/content/files/2024/04/3-actiuni-ciudate-care-te-salveaza-de-prostia-digitala.pdf
  /smz /cum-omori-social-media-zombie-smz 301
  /hard-reset/%C2%A0 /hard-reset 301
  /hard-reset/%E2%80%8B: /hard-reset 301
  /lista: /lista-cu-mancare-buna 301
  /hard-reset%C2%A0: /hard-reset 301
  /archive /blog 301
  /tag /tags 301
  /tag/psihomarketing /tags/psihomarketing 301
